<!DOCTYPE html>
<html ng-app="employeeApp">

<head>
    <title>Employee List</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
</head>

<body ng-controller="EmployeeController">
    <h2>Employee List</h2>
    <label>Search by Name:</label>
    <input type="text" ng-model="searchName" />
    <label>Search by Salary:</label>
    <input type="number" ng-model="searchSalary" />
    <button ng-click="searchEmployees()">Search</button>
    <ul>
        <li ng-repeat="employee in filteredEmployees">
            {{ employee.name }} - {{ employee.salary}}
        </li>
    </ul>
    <script>
        angular.module('employeeApp', [])
            .controller('EmployeeController', function ($scope) {
                $scope.employees = [
                    { name: 'Keerthana SS', salary: 50000 },
                    { name: 'Rakshith B', salary: 60000 },
                    { name: 'Santhosh', salary: 70000 },
                    { name: 'Radhika Pai', salary: 55000 },
                    { name: 'Skandha', salary: 80000 }
                ];
                $scope.filteredEmployees = $scope.employees;
                $scope.searchEmployees = function () {
                    $scope.filteredEmployees = $scope.employees.filter(function (employee) {
                        return (
                            (employee.name.toLowerCase().includes($scope.searchName.toLowerCase()) ||
                                !$scope.searchName) &&
                            (employee.salary == $scope.searchSalary || !$scope.searchSalary)
                        );
                    });
                };
            });
    </script>
</body>

</html>